# Supabase
NUXT_PUBLIC_SUPABASE_URL=https://eqjqpyrgzipedmsgkonj.supabase.co
NUXT_PUBLIC_SUPABASE_KEY=sb_publishable_OCauSbAVFfCGFwktE5OCBw_0NDQNrgy

# Backend API
NUXT_PUBLIC_API_BASE=https://aiko-five.vercel.app
